<head>
{%include "bootstrap.html"%}
</head>
<body>
   {%include "banner.html"%}
 <h4>Send me massage</h4>
<form action="/massage_submitted" method='post'>
    <div class="mb-2">
     <label>Full name</label><br>
      <input type="text" name = 'Full_name' placeholder="Name">
   </div>

<div class="mb-2">
  <label>Email</label><br>
  <input type="text" name = 'email' placeholder="exm@exm.com">
</div>
  <div class="mb-2">
  <label>Massage</label><br>
  <textarea type="text" name="Massage"></textarea>
  </div>
  <input type="submit" value="Send">
</form>
</body>